{% extends "LMamminoJHACBundle::base.html.twig" %}

{% block content %}
    <h2>Cocktails</h2>

    <ul>
        {% for cocktail in cocktails %}
            <li><a href="{{ path('lmammino_jhac_default_cocktail', {'slug':cocktail.getSlug()}) }}"><img src="{{ cocktail.getImageSrc('small') }}" title="{{ cocktail.getName() }}" /><span>{{ cocktail.getName() }}</span></a></li>
        {%  endfor %}
    </ul>
{% endblock %}