{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% block head_title %}Just had a cocktail!{% endblock %}
{% block body_container_header %}<h1>Just had a cocktail</h1>{% endblock %}

{% block body_container_main %}
    <div class="alert">This website is under development!</div>
    {% block content %}{% endblock %}
{% endblock %}

{% block body_container_footer %}
    <p>
        © 2012 <a href="https://github.com/lmammino" title="lmammino's Github profile">lmammino</a>,
        Cocktails icons by <a href="http://www.iconlee.com" title="IconLee">IconLee</a>
    </p>
    <p>
        Using <a href="">FOSUserBundle</a>, <a href="">FOSFacebookBundle</a>, <a href="https://github.com/Oryzone/OryzoneBoilerplateBundle">OryzoneBoilerplateBundle</a>. <br/>
        Source code available on <a href="https://github.com/lmammino/just-had-a-cocktail">Github</a>! Yes, you can submit a <a href="https://github.com/lmammino/just-had-a-cocktail/pull/new/master">pull request</a> to improve this website!
    </p>
{% endblock %}